.main {
	width: 1180px;
	margin: 0 auto;
	min-width: 1180px;
	float: none;
}

h1 {
	color: #fff;
	font-size: 20px;
}

.frame {
	width: 100%;
	height: 700px;
	position: relative;
	display: block;
}

span {
	color: #5F5F5F;
	font-size: 14px;
	font-weight: 300;
	padding-right: 5px;
}

.position {
	margin: 0px 0px 15px 0px;
}

.position a {
	color: #5F5F5F;
}

#header {
	height: 90px;
}
/*menu*/
.ul_menu {
	margin: 20px 0px;
	position: relative;
	text-align: right;
}

.ul_menu ul {
	width: 100%;
	display: inline-block;
}

.ul_menu li {
	float: right;
}

.ul_menu li>div {
	position: absolute;
	z-index: 1000;
	top: 100%;
	left: -9999px;
	margin-top: 8px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	opacity: 0;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}

.ul_menu li>div:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 8px;
	background: transparent;
}

.ul_menu li:hover>div {
	left: 0;
	opacity: 1;
	-webkit-transform: translate(0, 0);
}

.ul_menu .submit {
	float: none;
	border-right-width: 0;
	border-left-width: 1px;
}

.ul_menu .submit a {
	background: #14C59B;
}

.ul_menu .submit:hover>div {
	right: -100px;
	left: auto;
}
/**/
.ul_menu form fieldset {
	display: block;
	padding: 25px 30px;
	border: solid 1px #14C59B;
}

.ul_menu form section {
	margin-bottom: 20px;
}

.ul_menu form .input input, .ul_menu form .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border: 2px solid #e5e5e5;
	border-radius: 0;
	background: #fff;
	font: 13px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}

.ul_menu form .button {
	float: right;
	height: 39px;
	overflow: hidden;
	margin-left: 20px;
	padding: 0 20px;
	outline: none;
	border: 0;
	background-color: #14C59B;
	font: 300 13px/39px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}

.ul_menu form .row {
	margin: 0 -15px;
}

.ul_menu form .row:after {
	content: '';
	display: table;
	clear: both;
}

.ul_menu form .col {
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.ul_menu form .col-6 {
	width: 50%;
}

.ul_menu form .input:hover input, .ul_menu form .textarea:hover textarea
	{
	border-color: #14C59B;
}

.ul_menu form .button:hover {
	opacity: 1;
}

.ul_menu.input {
	margin: 3px 3px 3px 3px;
}

.ul_menu .input input {
	width: 240px;
	padding-right: 65px;
}

.ul_menu.button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.ul_menu .grid {
	width: 400px;
	background: #eee;
	text-align: left;
}